@import url(mymoviesite.css);

/* 공통 */
textarea{
    resize: none;
    margin-bottom:30px;
}

.review__container{
   display: flex;
   justify-content: center;
   margin-bottom: calc(var(--space-margin)*5);
}


/* 리뷰박스 => 닉네임, 비밀번호, 감상평*/
.review__form{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:calc(var(--space-padding) * 2);
}

.review__nickname,.review__password{
    height: 35px;
    width: 350px;
}
.review__text{
    height: 150px;
    width: 350px;

}

.register__btn{
    width:350px;
    height:35px;
    text-align: center;
    background-color: var(--color-accent);
    color:var(--color-white);
}
/* 리뷰 리스트 및 리뷰카드 */
.review__list{
    margin:0 auto;
    max-width: 800px;
    display:flex;
    flex-direction: column;
    gap:calc(var(--space-padding) * 2);
    margin-top:calc(var(--space-margin) * 10);
}

.review__title{
    font-size:var(--font-md)
}

.card-wrapper{
    display:flex;
    justify-content: space-between;
}
